/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-lightBg dark:bg-darkBg text-lightText dark:text-darkText transition-colors duration-300;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans;
}

.card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* styles.css o tu archivo de estilos global */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sunrise .sunrise\:bg-sunriseBg {
  background-color: #FFDDC1;
}

.sunset .sunset\:bg-sunsetBg {
  background-color: #FFA07A;
}

.dark .dark\:bg-darkBg {
  background-color: #121212;
}

.light .light\:bg-lightBg {
  background-color: #F9FAFB;
}